In [2]:
import pandas as pd
import numpy as py
import os

In [141]:
# cargar dataframe desde csv  titanic.csv
#df_titanic = pd.read_csv('titanic.csv')
df_nombres = pd.read_csv('nombres.csv')

In [7]:
#df_titanic.loc[df_titanic['Age'].isnull(), 'Age'] = df_titanic['Age'].mean()
#print(df_titanic.isnull().sum())
#df_titanic.loc[df_titanic.Embarked.isnull(), 'Embarked'] = df_titanic.Embarked.mode()[0]

In [22]:
#df_nombres.describe()

In [107]:
#####A単o con mayor cantidad de registros de Helen.
df_helen = df_nombres[df_nombres['name'] == 'Helen']

In [105]:
df_helen_group = df_helen.groupby('year')['quantity'].sum().reset_index()
helenYearMin = df_helen_group.sort_values(by='quantity', ascending=True).head(1)
helenYearMax = df_helen_group.sort_values(by='quantity', ascending=False).head(1)
helenYearMax

   year  quantity
8  1918     36184

In [109]:

#print(df_nombres[(df_nombres['name'] == 'Helen') & (df_nombres['year'] == 2016)])
#####A単o con mayor cantidad de registros de Helen.
helenYearMax

   year  quantity
8  1918     36184

In [113]:
#A単o con menor cantidad de Helen
helenYearMin

     year  quantity
100  2010       667

In [151]:
#Cuantos Helen nacieron entre 1990 y 2000
hele_1990_2000 = df_helen_group[df_helen_group['year'].between(1990, 2000)]['quantity'].sum()
hele_1990_2000

8892

In [163]:
#En que a単o nacieron mas Helen en el estado de Florida.
helenFlorida = df_helen[df_helen['state'] == 'FL']['quantity'].sum()
helenFlorida

10726