In [1]:
import pandas as pd

df_datos = pd.read_csv('insurance.csv')
df_datos.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
q1 = df_datos['charges'].quantile(0.25)
q3 = df_datos['charges'].quantile(0.75)
iqr = q3-q1
print(iqr)

11899.625365

In [5]:
limite_inferior = q1 - (1.5 *iqr)
limite_superior = q3 + (1.5 *iqr)

print(limite_inferior)
print(limite_superior)

-13109.1508975
34489.350562499996

In [9]:
df = df_datos[ (df_datos['charges'] < limite_inferior) | (df_datos['charges'] > limite_superior) ]
print(df)

      age     sex     bmi  children smoker     region      charges
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1300   45    male  30.360         0    yes  southeast  62592.87309
1301   62    male  30.875         3    yes  northwest  46718.16325
1303   43    male  27.800         0    yes  southwest  37829.72420
1313   19  female  34.700         2    yes  southwest  36397.57600
1323   42  female  40.370         2    yes  southeast  43896.37630

[139 rows x 7 columns]